.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  transition: all 0.5s;

}

.productCard img {
  width: 100%;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.price {
  font-weight: bold;
}

@media (pointer: fine) {
  .productCard:hover {
    scale: 1.05;
  }
}