/* Include variables like */
/* Typography */
/* :root {
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
} */
:root {
  --dark-bg: #00093C;
  --light-bg: ;
  --dark-text: ;
  --light-text: #ffffff;

  --desctop-content-width: 1146px;
  --mobile-size: 576px;
}