/* Include variables like */
/* Typography */
/* :root {
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
} */
:root {
  --dark-bg: #00093c;
  --light-bg: #ffffff;
  --dark-text: #000000;
  --light-text: #ffffff;

  --desktop-content-width: 1146px;
  --mobile-size: 576px;
}
