.logo {
  position: relative;
  margin-right: 4rem;
}

.title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.titleLight {
  color: #ffffff;
}

.titleDark {
  color: #000000;
}