.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
  justify-content: center;
  gap: 2rem;
  max-width: var(--desktop-content-width);
  margin: 0 auto;
  padding: 1rem;
}

.productList img {
  width: 100%;
}